<p id="notice"><%= notice %></p>

<h2><%= link_to_unless_current @post.title, @post %></h2>
<%= simple_format @post.body %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<div id="comments">
<%= render :partial => @post.comments %>
</div>

<%= form_for [@post, Comment.new], :remote => true do |f| %>
  <p>
    <h3>New comment</h3>
    <div class="form-group">
	    <%= f.label :name, "Name" %>
	    <%= f.text_field :name %>
    </div>
    <div class="form-group">
	    <%= f.label :email, "Email" %>
	    <%= f.text_field :email %>
    </div>
    <div class="form-group">
	    <%= f.label :body, "Content" %>
	    <%= f.text_area :body %>
    </div>
  </p>
  <p><%= f.submit "Add comment" %></p>
<% end %>