<!DOCTYPE html>
<html>
<head>
  <title>NotonlydataInfo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<%= render 'layouts/header' %>
<%= render 'layouts/logo' %>
</div>
<%= render 'layouts/banner' %>

<div class="container">
	<%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
